{{#if allDiary}}
{{#each allDiary}}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <div class="card mb-5 mt-5">
        <div class="card-body">
          <div class="list-group mb-1">
            <a href="#" class="list-group-item list-group-item-action">
              <img src="https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg"
                class="rounded-circle float-start" style="height: 30px;" alt="...">
              <h5 class="card-title">{{users.fullName}}</h5>
            </a>
          </div>
          <p class="card-text">{{text}}</p>
          <p class="card-text"><small class="text-muted">{{createdAdd}}</small></p>
        </div>
        <img src="{{img}}" class="card-img-bottom" alt="...">
        <div class="card-footer">
          <a href="/diary/by/{{id}}" type="button" class="btn btn-success">Open</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{else}}
<h1 style="text-align: center;">Lenta is empty</h1>
{{/if}}